/* Navbar.css */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning {
  animation: spin 2s linear infinite;
  will-change: transform;
  color: #f30404b7;
  font-size: 25px;
}


.navbar {
  background-color: #0e0d0da1;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin: 10px auto;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.9s ease, color 0.9s ease;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: #fff;
}


.left-group, .right-group {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 55%;
  filter: invert(1);
}

.title {
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
}

.text {
  color: #fff;
  font-size: 1rem;
  margin: 3px;
  padding: 6px 5px 6px 11px;
  transition: background-color 0.9s ease, color 0.9s ease;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-image: linear-gradient(to left, #c3150cc4, #de3d0cac, #c7083e9e);
    border-radius: 1.1rem;
    transform: scale(1.1);
    transition: 1.1s ease;
  }

}

.search-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 7px;
  margin-left: auto;
  border: 1px solid #fff;
  font-size: 1rem;
  transition: 1.2s ease;
  &:hover {
    border: 1px solid #f3040488;
    border-radius: 20px;
    transition: 1.2s;
  }
}

.input {
  border: none;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: #fff;

}

.input:focus {
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.9s ease, color 0.9s ease;
}

.profile-button {
  margin-left: 20px;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 0.6rem;
  background-color: transparent;
  font-size: 1.35rem;
  transition: transform 0.3s ease;
  color: #fff;
  &:hover {
    background-image: linear-gradient(to left, #c3150cc4, #de3d0cac, #c7083e9e);
    border-radius: 1.1rem;
  }
}

.profile-button:hover {
  transform: scale(1.1);
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.1);
  }
}

.menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 53px;
  background-color: #000;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 26px;
  margin: 15px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transform: scale(0);
  animation: zoomIn 0.3s forwards;
  color: #fff;
}

.menu.open {
  display: flex;
  animation: zoomOut 0.6s forwards;
  transform: scale(1);
  z-index: 10001;
  padding: 0.7rem;
}

.submenu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.35rem;
  margin: 4px 0;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.9s ease;
  color: #fff;
}

.submenu-button:hover {
  background-image: linear-gradient(to left, #c3150cc4, #de3d0cac, #c7083e9e);
  transform: scale(1.05);
  transition: 0.9s;
  display: relative;
  margin: 10px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
  .text {
      margin: 0.5rem 0.1rem 0.2rem ;
      padding-left: 0.9rem;
    }
    .logo {
      display: none;
    }
    .title {
      display: none;
    }

  }

  .left-group, .right-group {
    flex-direction: grid;
    align-items: center;
    margin: 9px;
    padding: 2px;
  }

  .search-container {
    display: flex;   
    width: 80%;
    padding: 2% 5%;
    margin: 5px 5px;
    border-radius: 7px;
    &:hover {
      border: 1px solid #f3040488;
      border-radius: 20px;
      transition: 1.2s;
    }
  }
  .input {
    width: 100%;
    border-radius: 25px;
  }

  .left-group .text, .right-group .profile-button {
    display: grid;
  }

  .submenu-button {
   
    justify-content: center;
    align-items: center;
  }
  .menu.open{
    display: block;
    padding: 0.1rem;
    margin:91px 30px;
    
    
  }
}